body{
  margin: 0px;
  background-color: rgba(86, 228, 228, 0.525);
}
.homepage{
  text-align: center;
}
.books-head{
  color: rgba(77, 77, 135, 0.868);
 text-align: center;
}
.booklist-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  gap: 10px;

}
.book-submit{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 540px;
  margin: 0px auto;
  margin-top: 10px;
}
.book-details:hover{
  background-color: rgba(193, 182, 182, 0.212);
}
.book-details{
  margin-left: 5px;
  margin-top: 5px;
  margin-top: 10px;
  box-shadow: 0px 1px 1px 1px rgb(20, 19, 19);
}
.edit-delete{
  justify-content: space-around;
}
#card-header{
  background-color: rgba(143, 135, 135, 0.678);
   font-weight:900;
   color: rgb(4, 4, 4);
   text-align: center;
}
#card-content{
   text-align: center;
   font-weight: bold;
}
